---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Portrait from "../images/portrait.jpeg";
---

<Layout title="About">
  <article class="container mx-auto py-10 px-3 space-y-3 min-h-screen">
    <header class="pb-2">
      <h1 class="text-3xl font-extrabold pt-2">Hi, I'm Jon 👋🏼</h1>
      <h2 class="text-xl font-bold text-neutral-600 pt-2">
        Professional Software Engineer, Enjoyer of Pourover Coffee
      </h2>
      <figure class="pt-5 lg:pl-10 lg:float-right">
        <img
          src={Portrait}
          alt="Portrait of Jon Chong"
          width="300"
          class="rounded-md mx-auto"
        />
        <figcaption class="text-neutral-600 text-center">
          A portrait of me by
          <Link href="https://www.instagram.com/bradtna/">Bradtna Lou</Link>
        </figcaption>
      </figure>
    </header>
    <section class="space-y-2">
      <h3 class="text-lg font-bold">About Me</h3>
      <div class="space-y-2">
        <p>
          My main areas of expertise are web development involving TypeScript,
          HTML, and CSS. I have worked with multiple
        </p>
        <p>
          I'm obsessed with writing accessible and open websites by leveraging
          existing web standards, rather than wasting precious time
          re-engineering shitty comboboxes that are neither predictable nor
          accessible. This is what interested me in building & contributing to
          the
          <Link href="https://astro.build">Astro</Link> framework.
        </p>
        <p>
          I was born & raised in the California Bay Area. I now live in New
          York, NY.
        </p>
        <p>
          <strong
            >...and I am currently looking for a full-time position!</strong
          > Please reach out to me
          <Link href="mailto:jonchong56@gmail.com">here</Link>.
        </p>
      </div>
    </section>
    <section class="pt-2">
      <h3 class="text-lg font-bold">What I've Done</h3>
      <div class="lg:w-[60%] py-4">
        <details class="border-2 border-black px-4 py-2">
          <summary>Education</summary>
          <div class="py-2">
            <h4 class="text-lg font-bold">University of California, Santa Cruz</h4>
            <span class="float-right">2015 - 2019</span>
            <em>BS Computer Science</em>
          </div>
        </details>
        <details class="border-l-2 border-r-2 border-black px-4 py-2">
          <summary>Professional Experience</summary>
          <div class="py-2">
            <ul>
              <li>
                <h4 class="font-bold text-lg">Haven Technologies</h4>
                <span class="float-right">Jan 2023 - Jun 2023</span>
                <em>Full Stack Developer</em>
                <p>
                  Responsibilities: Modernized a legacy application by building,
                  testing, and deploying a modern full stack web app, Angular
                  Typescript frontend with Express backend and GraphQL API.
                  Performed on-call duties as primary point of contact to fix
                  issues in QA, demo, and production environments.
                </p>
                <ul class="list-disc list-inside">
                  <li>
                    Reduced total data queried from database through use of
                    optimized SQL queries and GraphQL, retrieving only data
                    needed per request.
                  </li>
                  <li>
                    Minimized redundant database queries by using performance
                    profiling tools that identified and optimized problematic
                    components.
                  </li>
                  <li>
                    Created more inclusive experience by working closely with UX
                    designers, ensuring full accessibility of new and existing
                    components.
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </details>
        <details class="border-2 border-black px-4 py-2">
          <summary>Open Source</summary>
          <p class="py-2"></p>
        </details>
      </div>
    </section>
  </article>
</Layout>
