---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Socials from "../components/Socials.astro";
import Avatar from "../components/Avatar.astro";
import Portrait from "../images/portrait.jpeg";
---

<Layout title="Home">
  <div
    id="hero"
    class="flex flex-col lg:flex-row items-center bg-amber-400 dark:bg-amber-600 py-8 lg:py-0"
  >
    <div
      class="container flex justify-center lg:bg-amber-600 lg:dark:bg-amber-800 lg:py-36 py-8"
    >
      <Avatar />
    </div>
    <div class="container lg:pl-10 lg:py-0">
      <h1
        class="text-[4.5rem] text-zinc-900 leading-normal font-extrabold text-center"
      >
        Jon Chong
      </h1>
      <Socials />
    </div>
  </div>
  <article id="about-me" class="container mx-auto space-y-2 px-4 py-12">
    <div class="grid lg:grid-cols-3 gap-4">
      <div class="col-span-2">
        <header>
          <h2 class="text-3xl font-extrabold">Hi, I'm Jon 👋🏼</h2>
          <h3 class="text-xl font-bold text-zinc-500">
            Professional Software Engineer
          </h3>
        </header>
        <div class="space-y-2 col-span-2 mt-2">
          <h3 class="text-xl font-bold">About Me</h3>
          <p>
            My main areas of expertise are web development involving JavaScript,
            HTML, and CSS. I have worked with many modern frontend frameworks,
            including React, Angular, Svelte. I've also used backend frameworks
            such as Express and NestJS. I'm obsessed with optimizing websites by
            utilizing existing standards, and reducing JavaScript bundle size.
          </p>
          <p>Born & raised in the Bay Area, now living in New York.</p>
          <p>
            <strong
              >...and I am currently looking for a full-time position!</strong
            > Please reach out to me
            <Link href="mailto:jonchong56@gmail.com">here</Link>.
          </p>
        </div>
      </div>
      <figure class="flex flex-col">
        <img
          src={Portrait}
          alt="Portrait of Jon Chong"
          width="300"
          class="rounded"
        />
        <figcaption>
          Fall in Central Park <span class="text-zinc-500 text-sm"
            >Image:
            <Link href="https://www.instagram.com/bradtna/" inNewTab>
              Bradtna Lou
            </Link></span
          >
        </figcaption>
      </figure>
    </div>
  </article>
  <hr class="lg:mx-8" />
  <section id="what-ive-done" class="container mx-auto space-y-2 px-4 py-12">
    <article>
      <h2 class="text-3xl font-extrabold pt-2">What I've Done</h2>
      <section>
        <h3 class="text-2xl font-bold mt-4">Professional Experience</h3>
        <ul class="mt-2 space-y-2">
          <li>
            <details
              class="hover:bg-zinc-200 open:bg-zinc-200 open:text-zinc-800 transition-all duration-200 rounded-lg px-4 py-3"
            >
              <summary class="font-semibold hover:cursor-pointer"
                >Haven Technologies <span class="text-zinc-500 text-sm"
                  >Jan 2023 - Jun 2023</span
                >
              </summary>
              <div class="px-4 py-2 space-y-4">
                <em>Full Stack Developer</em>
                <div>
                  <h4 class="font-semibold">Responsibilities</h4>
                  <p>
                    Modernized a legacy application by building, testing, and
                    deploying a modern full stack web app, Angular Typescript
                    frontend with Express backend and GraphQL API. Performed
                    on-call duties as primary point of contact to fix issues in
                    QA, demo, and production environments.
                  </p>
                </div>
                <div class="grid gap-4 lg:grid-cols-3 grid-cols-1">
                  <div class="lg:col-span-2">
                    <h4 class="font-semibold">Achievements</h4>
                    <ul class="list-disc list-inside">
                      <li>
                        Reduced total data queried from database through use of
                        optimized SQL queries and GraphQL, retrieving only data
                        needed per request.
                      </li>
                      <li>
                        Minimized redundant database queries by using
                        performance profiling tools that identified and
                        optimized problematic components.
                      </li>
                      <li>
                        Created more inclusive experience by working closely
                        with UX designers, ensuring full accessibility of new
                        and existing components.
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="font-semibold">Technologies</h4>
                    <ul class="list-disc list-inside">
                      <li>Angular</li>
                      <li>GraphQL</li>
                      <li>Docker</li>
                      <li>Express</li>
                    </ul>
                  </div>
                </div>
              </div>
            </details>
          </li>
          <li>
            <details
              class="hover:bg-zinc-200 open:bg-zinc-200 open:text-zinc-800 transition-all duration-200 rounded-lg px-4 py-3"
            >
              <summary class="font-semibold hover:cursor-pointer">
                Beckman Coulter <span class="text-zinc-500 text-sm"
                  >Jun 2020 - Jan 2023</span
                >
              </summary>
              <div class="px-4 py-2 space-y-4">
                <em>Software Engineer</em>
                <div>
                  <h4 class="font-semibold">Responsibilities</h4>
                  <p>
                    Developed and deployed an internal web app that integrated
                    existing processes used by R&D scientists. Communicated with
                    stakeholders daily to develop new features, improve existing
                    ones, and debug issues.
                  </p>
                </div>
                <div class="grid gap-4 lg:grid-cols-3 grid-cols-1">
                  <div class="lg:col-span-2">
                    <h4 class="font-semibold">Achievements</h4>
                    <ul class="list-disc list-inside">
                      <li>
                        Accelerated the CI/CD pipeline to run 1000% faster by
                        parallelizing the end-to-end Selenium test suite.
                      </li>
                      <li>
                        Reduced repetitive work by automating generation of
                        testing documentation and code coverage reports required
                        for each major software release.
                      </li>
                      <li>
                        Increased velocity of feature development by
                        strategizing and leading the adoption of React and
                        accompanying REST API for new pages and retrofitting
                        existing pages.
                      </li>
                      <li>
                        Received team reward for on-time feature delivery, high
                        test coverage, and low defect density.
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="font-semibold">Technologies</h4>
                    <ul class="list-disc list-inside">
                      <li>ASP.NET</li>
                      <li>C#</li>
                      <li>JQuery</li>
                      <li>React</li>
                      <li>Webpack</li>
                    </ul>
                  </div>
                </div>
              </div>
            </details>
          </li>
          <li>
            <details
              class="hover:bg-zinc-200 open:bg-zinc-200 open:text-zinc-800 transition-all duration-200 rounded-lg px-4 py-3"
            >
              <summary class="font-semibold hover:cursor-pointer"
                >Wyde <span class="text-zinc-500 text-sm"
                  >Jan 2020 - Jun 2020</span
                ></summary
              >
              <div class="px-4 py-2 space-y-4">
                <em>Software Engineer</em>
                <div>
                  <h4 class="font-semibold">Responsibilities</h4>
                  <p>
                    Rebuilt legacy application using low-code tool, integrating
                    with backend REST API in development. Drove a new initiative
                    to create a customer portal for managing insurance policies.
                  </p>
                </div>
                <div class="grid gap-4 lg:grid-cols-3 grid-cols-1">
                  <div class="lg:col-span-2">
                    <h4 class="font-semibold">Achievements</h4>
                    <ul class="list-disc list-inside">
                      <li>
                        Boosted development velocity to meet project deadlines
                        by bootstrapping React component library.
                      </li>
                      <li>
                        Increased client engagement by winning support for
                        client portal projects that reduced friction of access
                        between client and client data.
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4 class="font-semibold">Technologies</h4>
                    <ul class="list-disc list-inside">
                      <li>React</li>
                      <li>JavaScript</li>
                      <li>Webpack</li>
                    </ul>
                  </div>
                </div>
              </div>
            </details>
          </li>
        </ul>
      </section>
      <section>
        <h3 class="text-2xl font-bold mt-4">Education</h3>
        <ul>
          <li>
            <div class="font-semibold">
              University of California, Santa Cruz
              <span class="text-zinc-500 text-sm">Jun 2020 - Jan 2023</span>
            </div>
            <p>B.S. Computer Science</p>
          </li>
        </ul>
      </section>
    </article>
  </section>
  <hr class="lg:mx-8" />
  <section
    id="selected-blog-posts"
    class="container mx-auto py-10 px-3 space-y-3"
  >
    <article>
      <h2 class="text-3xl font-extrabold pt-2">Selected Blog Posts</h2>
      <p class="py-4">🚧🚨 Under Construction 🚧🚨</p>
    </article>
  </section>
</Layout>
