---
import Socials from "./Socials.astro";
---

<footer class="text-center bg-zinc-900 pt-16 pb-24">
  <p class="text-slate-400 text-xl">Jon Chong &copy; 2023</p>
  <div class="py-4"><Socials theme="dark" /></div>
</footer>
