---
import Socials from "./Socials.astro";
---

<footer class="text-center bg-neutral-800 min-h-[30vh]">
  <hr class="border-2 border-black mb-10" />
  <p class="text-neutral-400">Jon Chong &copy; 2023</p>
  <div class="py-4"><Socials theme="dark" /></div>
</footer>
