<nav class="font-bold bg-[#F7C59F]">
  <div class="flex justify-between content-center p-5">
    <div>
      <a href="/">Jon Chong</a>
    </div>
    <ul class="flex space-x-4">
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>