<nav class="font-bold text-zinc-800 bg-amber-600 min-h-[8vh] flex justify-between items-center lg:px-8 px-2">
  <div>
    <a
      href="/"
      class="hover:underline"
      >Jon Chong</a
    >
  </div>
  <ul class="flex space-x-4">
    <li>
      <a
        href="/blog"
        class="hover:underline"
        >Blog</a>
    </li>
  </ul>
</nav>
