---
import { Image } from "astro:assets";

import Link from "./Link.astro";
import Linkedin from "../assets/socials/linkedin.svg";
import LinkedinLight from "../assets/socials/linkedin-light.svg";
import Github from "../assets/socials/github.svg";
import GithubLight from "../assets/socials/github-light.svg";
import Mail from "../assets/socials/mail.svg";
import MailLight from "../assets/socials/mail-light.svg";
import Instagram from "../assets/socials/instagram.svg";
import InstagramLight from "../assets/socials/instagram-light.svg";

interface Props {
  theme?: "light" | "dark";
}

const { theme } = Astro.props;
const imageUrls = {
  github: theme === "dark" ? GithubLight : Github,
  mail: theme === "dark" ? MailLight : Mail,
  linkedin: theme === "dark" ? LinkedinLight : Linkedin,
  instagram: theme === "dark" ? InstagramLight : Instagram,
};
---

<ul class="flex space-x-4 justify-center">
  <li>
    <Link href="https://www.linkedin.com/in/jonchong56/" inNewTab>
      <Image
        src={imageUrls.linkedin}
        width="35"
        alt="LinkedIn"
        class="hover:animate-wiggle"
      />
    </Link>
  </li>
  <li>
    <Link href="https://github.com/jocchong" inNewTab>
      <Image
        src={imageUrls.github}
        width="35"
        alt="GitHub"
        class="hover:animate-wiggle"
      />
    </Link>
  </li>
  <li>
    <Link href="mailto:jonchong56@gmail.com">
      <Image
        src={imageUrls.mail}
        width="35"
        alt="Email"
        class="hover:animate-wiggle"
      />
    </Link>
  </li>
  <li>
    <Link href="https://www.instagram.com/joomooru/" inNewTab>
      <Image
        src={imageUrls.instagram}
        alt="Instagram"
        class="hover:animate-wiggle"
      />
    </Link>
  </li>
</ul>
