---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  publishedDate: string;
  description: string;
  tags?: string[];
}>;
const { frontmatter } = Astro.props;
const pubDateString = new Date(frontmatter.publishedDate).toDateString();
---

<Layout title={frontmatter.title}>
  <article
    class="prose prose-slate  lg:prose-lg mx-auto my-12"
  >
    <header>
      <h1 class="mb-4">{frontmatter.title}</h1>
      <h2 class="text-3xl m-0 text-neutral-500">{frontmatter.description}</h2>
      <time class="text-neutral-500">{pubDateString}</time>
    </header>
    <slot />
  </article>
</Layout>
