---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  pubDate: string;
  description: string;
  tags?: string[];
}>;
const { frontmatter } = Astro.props;
const pubDateDisplay = new Date(frontmatter.pubDate).toDateString();
---

<Layout title={frontmatter.title}>
  <article
    class="mx-auto prose prose-slate lg:prose-lg text-justify px-4 py-10"
  >
    <header>
      <h1>{frontmatter.title}</h1>
      <h2 class="text-3xl text-neutral-500">{frontmatter.description}</h2>
      <time class="text-neutral-500">{pubDateDisplay}</time>
    </header>
    <slot />
  </article>
</Layout>
