---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  subtitle?: string;
  date: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <header class="text-center flex flex-col justify-center items-center bg-red-200 min-h-screen">
      <h1 class="font-extrabold text-3xl">
        {frontmatter.title}
      </h1>
      {
        frontmatter.subtitle && (
          <h2 class="font-bold text-xl">{frontmatter.subtitle}</h2>
        )
      }
      <time>{frontmatter.date}</time>
    </header>
    <div class="mx-auto prose prose-neutral lg:prose-lg text-justify px-4 py-10">
      <slot />
    </div>
  </article>
</Layout>
